*{
  margin: 0;
  padding: 0;
  
}
.zenith-header {
  margin: 0 auto;
  background-color: rgb(35,47,62);
  position: relative;
  width: 100%;
  height: 170px;
  
}
.zenith-home-Heading{
  z-index: 0;
  display: block;
  font-family: "Amazon Ember", Helvetica, Arial, sans-serif;
  letter-spacing: 5px;
  position: absolute;
  color: rgb(250, 246, 246);
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  line-height: 1.4;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color:rgb(3, 152, 215) ;
  text-decoration-thickness:6px ;
}
.zenith-header-subtitle {
  z-index: 0;
  font-family: "Amazon Ember", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  position: absolute;
  color: rgb(253, 251, 251);
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}
.nav-bar li{
  display: inline;
  padding: 10px;
  /* background-color: rgb(250, 246, 246);; */
  
}
.nav-bar{
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 0;
  position: relative;
  top: 132px;
}
a {
  color: white;
}
.Home-Footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: aliceblue;
  background:  rgb(35,47,62);
}

